[build]
  command = "CI=false npm run build"
  publish = "build"

[functions]
  directory = "netlify/functions"

[[redirects]]
  from    = "/articles/:id"
  to      = "/.netlify/functions/builder-articles?id=:id"
  status  = 200
  force   = true
  builder = true

[[redirects]]
  from   = "/*"
  to     = "/index.html"
  status = 200
