.about-container {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-container h1 {
    font-size: 5rem;
}

.about-container p {
    font-size: 4rem;
    padding-left: 100px;
    padding-right: 100px;
}