.article {
    background-color: #f9f9f9;
    /* border: 1px solid #ddd; */
    /* border-radius: 8px; */
    padding: 15px;
    margin-bottom: 20px;
    padding-top: 0;
}

.container h1 {
    color: #666;
    font-weight: normal;
}

.article-view-relevant-articles h3 {
    font-size: 2rem;
    font-weight: normal;
}

.article-view-container .article-content h1 {
    font-size: 3rem;
    text-align: start;
}

.share-buttons {
    font-size: 1.6rem;
}

.article-view-details {
    font-size: 1.4rem;
}

.article-info p {
    font-size: 1.6rem;
}

.article h2 {
    color: #333;
    font-size: 2.5rem;
}

.article p {
    color: #666;
    font-size: 1.5rem;
}

.article-image {
    width: 100%;
    height: auto;
    /* border-radius: 8px; */
    margin-bottom: 15px;
}

.read-more {
    display: inline;
    color: #007BFF;
    cursor: pointer;
}

.article-link {
    text-decoration: none;
    /* Remove underline */
    color: inherit;
    /* Inherit text color */
    /* You can add additional styling as needed */
}

/* Responsive Design */
@media (max-width: 768px) {
    .article {
        padding: 10px;
        margin-bottom: 15px;
    }

    .article h2 {
        font-size: 1.2rem;
    }

    .article-image {
        margin-bottom: 10px;
    }
}