.article {
    background-color: #f9f9f9;
    padding: 15px;
    margin-bottom: 20px;
    padding-top: 0;
    transition: transform 0.3s ease, color 0.3s ease;
}

.container h1 {
    color: #666;
    font-weight: normal;
}

.article-view-relevant-articles h3 {
    font-size: 2rem;
    font-weight: normal;
}

.article-view-container .article-content h1 {
    font-size: 3rem;
    text-align: start;
}

.share-buttons {
    font-size: 1.6rem;
}

.article-view-details {
    font-size: 1.4rem;
}

.article-info p {
    font-size: 1.6rem;
}

.article h2 {
    color: #333;
    font-size: 2.5rem;
    transition: color 0.3s ease;
}

.article p {
    color: #666;
    font-size: 1.5rem;
}

.article-image {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    transition: transform 0.3s ease;
}

.read-more {
    display: inline;
    color: #007BFF;
    cursor: pointer;
}

.article-link {
    text-decoration: none;
    color: inherit;
}

/* Hover Effects */
.article:hover .article-image {
    transform: scale(1.05);
}

.article:hover h2 {
    color: rgb(231, 166, 46);
}


.small-article-container:hover .article-image {
    transform: scale(1.05);
}

.small-article-container:hover .article-title {
    color: rgb(231, 166, 46);
}

/* Responsive Design */
@media (max-width: 768px) {
    .article {
        padding: 10px;
        margin-bottom: 15px;
    }

    .article h2 {
        font-size: 1.2rem;
    }

    .article-image {
        margin-bottom: 10px;
    }
}