.videotv-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 200px;
}

.video-container {
    margin-bottom: 20px;
}

.videotv-container h2 {
    font-size: 1.8rem;
}